<html lang="en">

<head>
    <title>Login</title>
    <!-- Load CDN Style -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/css/xeditable.min.css">
    <link rel="icon" type="image/png" href="//www.mihoyo.co.jp/img/icon/gamegift.png">

    <!-- Load CDN Script -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/js/xeditable.min.js"></script>

    <!-- Load app style -->
    <link rel="stylesheet" href="assets/css/styleLogin.css">
</head>

<body>
    <div id="form-login" class="container">
        <h1 align="center">Login</h1>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <b>Username</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input type="text" placeholder="Enter Username" name="name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <label>
                    <b>Password</b>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input type="password" placeholder="Enter password" name="pw" required>
            </div>
        </div>
        <div class="row">
            <div  align="center" class="col-md-6 col-md-offset-3">
                <button type="submit">Login</button>
            </div>
        </div>
    </div>
</body>

</html>